In [1]:
# Import the DataIngestor class from the eda module
from eda.data_ingestor import DataIngestor
from eda.data_inspector import DataInspector

In [2]:

# Create an instance pointing to your data folder
ingestor = DataIngestor(data_dir='data')

In [3]:

# Load the first file from the zip into a DataFrame
df = ingestor.load_data_file()

# Display the first few rows
df.head(3)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,lease_commence_date,resale_price,source_file,remaining_lease
0,2000-01,ANG MO KIO,3 ROOM,170,ANG MO KIO AVE 4,07 TO 09,69.0,Improved,1986,147000.0,"Resale Flat Prices (Based on Approval Date), 2...",NaN
1,2000-01,ANG MO KIO,3 ROOM,174,ANG MO KIO AVE 4,04 TO 06,61.0,Improved,1986,144000.0,"Resale Flat Prices (Based on Approval Date), 2...",NaN
2,2000-01,ANG MO KIO,3 ROOM,216,ANG MO KIO AVE 1,07 TO 09,73.0,New Generation,1976,159000.0,"Resale Flat Prices (Based on Approval Date), 2...",NaN

In [4]:
inspector = DataInspector(df)

inspection_df = inspector.inspect_all()

In [5]:
inspection_df

{'shape': (957961, 12),
 'dtypes': month                   object
 town                    object
 flat_type               object
 block                   object
 street_name             object
 storey_range            object
 floor_area_sqm         float64
 flat_model              object
 lease_commence_date      int64
 resale_price           float64
 source_file             object
 remaining_lease         object
 dtype: object,
 'null_percentages': month                   0.000000
 town                    0.000000
 flat_type               0.000000
 block                   0.000000
 street_name             0.000000
 storey_range            0.000000
 floor_area_sqm          0.000000
 flat_model              0.000000
 lease_commence_date     0.000000
 resale_price            0.000000
 source_file             0.000000
 remaining_lease        74.016583
 dtype: float64,
 'nulls_by_source_file': {'Resale Flat Prices (Based on Approval Date), 1990 - 1999.csv': month                    0.0
  town                     0.0
  flat_type                0.0
  block                    0.0
  street_name              0.0
  storey_range             0.0
  floor_area_sqm           0.0
  flat_model               0.0
  lease_commence_date      0.0
  resale_price             0.0
  source_file              0.0
  remaining_lease        100.0
  dtype: float64,
  'Resale Flat Prices (Based on Approval Date), 2000 - Feb 2012.csv': month                    0.0
  town                     0.0
  flat_type                0.0
  block                    0.0
  street_name              0.0
  storey_range             0.0
  floor_area_sqm           0.0
  flat_model               0.0
  lease_commence_date      0.0
  resale_price             0.0
  source_file              0.0
  remaining_lease        100.0
  dtype: float64,
  'Resale Flat Prices (Based on Registration Date), From Jan 2015 to Dec 2016.csv': month                  0.0
  town                   0.0
  flat_type              0.0
  block                  0.0
  street_name            0.0
  storey_range           0.0
  floor_area_sqm         0.0
  flat_model             0.0
  lease_commence_date    0.0
  resale_price           0.0
  source_file            0.0
  remaining_lease        0.0
  dtype: float64,
  'Resale Flat Prices (Based on Registration Date), From Mar 2012 to Dec 2014.csv': month                    0.0
  town                     0.0
  flat_type                0.0
  block                    0.0
  street_name              0.0
  storey_range             0.0
  floor_area_sqm           0.0
  flat_model               0.0
  lease_commence_date      0.0
  resale_price             0.0
  source_file              0.0
  remaining_lease        100.0
  dtype: float64,
  'Resale flat prices based on registration date from Jan-2017 onwards.csv': month                  0.0
  town                   0.0
  flat_type              0.0
  block                  0.0
  street_name            0.0
  storey_range           0.0
  floor_area_sqm         0.0
  flat_model             0.0
  lease_commence_date    0.0
  resale_price           0.0
  source_file            0.0
  remaining_lease        0.0
  dtype: float64}}